extends ../layout

block content
  div.row
    div.col-xs-3
    div.col-xs-6
      form(id='myFrm' class="form-signin", role="form", action="/courses/add", method="post" novalidate)
        h3.form-signin-heading Add new course
        if error
          span.error= error
          
        -var level = locals.level || ''
        -var name = locals.name || ''
        -var level_id = locals.level_id || ''          
        input(name="name" type="name" class="form-control" placeholder="Course Name" required autofocus value="#{name}")
        select(name="level_id" class="form-control" )
          option(value="") Select level
          if ps
            each p,i in ps
              option(value="#{p.id}")= p.name
        <button class="btn btn-lg btn-primary " type="submit">Submit</button>
        <button class="btn btn-lg btn-primary" type="button" onClick="window.location.href='./';">Cancel</button>
    div.col-xs.3
    script.
      jQuery(document).ready(function(){
        validate.register('myFrm', {
          name:'required', 
          level_id:'required', 
          
          messages:{
            name:'Name is required.', 
            level_id:'Please select course level'
          }
        });
      });
