extends ../layout

block content
  div.row
    div.col-xs-3
    div.col-xs-6
      form(id='myFrm' class="form-signin", role="form", action="/courses/edit/#{id}", method="post" novalidate)
        h3.form-signin-heading Edit institute
        if error
          span.error #{error}
          
        -var level_id = locals.level_id || ''
        -var name = locals.name || ''
        input(name="name" type="name" class="form-control" placeholder="Course Name" value="#{name}" required autofocus)
        select(name="level_id" class="form-control" required )
          if levels
            each l, i in levels
              option(value='#{l.id}' selected=l.id==level_id)=l.name        
        <button class="btn btn-lg btn-primary " type="submit">Submit</button>
        <button class="btn btn-lg btn-primary" type="button" onClick="window.location.href='../';">Cancel</button>
    div.col-xs.3
    script.
      jQuery(document).ready(function(){
        validate.register('myFrm', {
          name:'required', 
          type:'required', 
          
          messages:{
            name:'Name is required.', 
            type:'Please select institute type'
          }
        });
      });
