doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javasript', src='/javascripts/bootstrap.min.js')
    script(type='text/javasript', src='/javascripts/jquery-1.9.1.js')
  body
    div.container-fluid
      div.row
        div.col-xs-12
          h2.logo Class Master
    div.container-fluid
      block content
