extends ../layout

block content
  div.row
    div.col-xs-3
    div.col-xs-6
      form(id='myFrm' class="form-signin", role="form", action="/users/add", method="post" novalidate)
        h3.form-signin-heading Add new user
        if error
          span.error #{error}
        <input name="name" type="name" class="form-control" placeholder="User Name" required autofocus>
        <input name="email" type="email" class="form-control" placeholder="Email address" required>
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <textarea name="address" class="form-control" placeholder="Users address"></textarea>
        <button class="btn btn-lg btn-primary " type="submit">Submit</button>
        <button class="btn btn-lg btn-primary" type="button" onClick="window.location.href='./';">Cancel</button>
    div.col-xs.3
    script.
      jQuery(document).ready(function(){
        validate('myFrm', {name:'required', email:{required:true, email:true}, messages:{name:'Name is required.', email:{required:'Please enter valid email id', 'email':'Please enter a valid emailid'}}});
      });
